html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
}

.containerStartpage {
    background-image: url("./img/1_hero/JPG/hero_bg.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100dvh;
}

.header {
    position: absolute;
    top: 0;
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sakuraLogo {
    height: 64px;
    width: 64; 
    margin-left: 160px
}



.menu {
    display: flex;
    gap: 8px;
    margin-right: 160px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
}

.phoneButton {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #9F0908;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    ;
}

.phoneButton:hover {
    cursor: pointer;
}

.titleStartpage {
    padding-top: 240px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleStartpage h1 {
    font-weight: bold;
    font-size: 96px;
    margin: 0
}

.titleStartpage h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.sectionHowToOrder {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionHowToOrder h2 {
    margin: 0; 
    padding-bottom: 64px; 
    font-weight: bold; 
    font-size: 80px; 
    color: #9F0908
}

.howToOrderContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.howToOrderContentStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.howToOrderContentStats img {
    width: 128px;
    height: 128px;
}

.howToOrderContentStats h5 {
    font-weight: bold;
    font-size: 56px;
    font-family: Economica, sans-serif;
    padding-top: 16px;
    margin: 0;
}

.sectionOurMenu {
    background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.ourMenuContent {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ourMenuContent h2 {
    margin: 0; 
    padding-bottom: 64px; 
    font-weight: bold; 
    font-size: 80px; 
    color: #9F0908
}

.OurMenuContentOne {
    width: 100%;
    display: flex;
    align-items: center;
}

.OurMenuContentOne h3 {
    width: 100%;
    font-family: Economica, sans-serif;
    font-weight: bold;
    font-size: 56px;
    padding-left: 80px;
    margin: 0;
    padding-bottom: 16px;
    color: black;
}

.OurMenuContentOneTable {
    padding-left: 80px;
    font-weight: bold;
    font-size: 32px;
    color: #675E54;
}

.OurMenuContentOneTable td {
    width: 100%;
    padding-bottom: 8px;
}

.OurMenuContentOneMiddle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-bottom: 56px;
    padding-top: 56px;
}

.OurMenuContentOneMiddle h3 {
    font-family: Economica, sans-serif;
    font-weight: bold;
    font-size: 56px;
    padding-right: 80px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 16px;
    color: black
}

.OurMenuContentOneTableMiddle {
    padding-right: 80px;
    font-weight: bold;
    font-size: 32px;
    color: #675E54
}

.OurMenuContentOneTableMiddle td {
    padding-bottom: 8px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-left: 200px;
}

.leftMiddle {
    text-align: left;
}

.rightMiddle {
    text-align: right;
    padding-left: 200px;
}

.sectionFindUsAt {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFindUsAt h2 {
    margin: 0; 
    padding-bottom: 8px; 
    font-weight: bold; 
    font-size: 80px; 
    color: #9F0908;
}

.sectionFindUsAt h5 {
    margin: 0;
    font-size: 16px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
}

.sectionFooter {
    height: 144px;
    background-color: #0A141E;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SocialMediaIcons {
    display: flex;
    gap: 16px;
}

.SocialMediaIcons a:hover {
    cursor: pointer;
}

.sectionOurMenu img {
    width: 352px;
    height: 352px;
}

.phoneFooter {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phoneFooter {
    display: none;
}


@media(max-width: 1280px) {

    /* STARTPAGE */

    .sakuraLogo {
        height: 64px;
        width: 64px; 
        padding-left: 24px;
        margin: 0px;
    }

    .menu {
        margin: 0;
        padding-right: 24px;
    }
    
    .titleStartpage {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .titleStartpage h1 {
        font-size: 72px;
    }

    .titleStartpage h4 {
        font-size: 20px;
    }

    .menuLink {
        display: none;
    }

    .phoneButton {
        font-size: 20px;
    }

    .phoneButton img {
        width: 20px;
        height: 20px;
    }

    .sectionHowToOrder {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 96px;
        margin-bottom: 96px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .sectionHowToOrder h2 {
        margin: 0; 
        padding-bottom: 48px; 
        font-weight: bold; 
        font-size: 64px; 
        text-align: center;
    }

    .howToOrderContentStats img {
        width: 112px;
        height: 112px;
    }

    .howToOrderContentStats h5 {
        font-size: 32px;
        padding-top: 8px;
    }

    /* MENU SECTION */

    .sectionOurMenu img {
            width: 352px;
            height: 352px;
        }

    .ourMenuContent {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 96px;
        padding-bottom: 96px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .ourMenuContent h2 {
        font-size: 64px;
        padding-bottom: 48px;
        margin: 0; 
        font-weight: bold; 
        color: #9F0908
    }    

    .OurMenuContentOne h3 {
        font-size: 32px;
        padding-left: 24px;
        padding-right:  24px;
        padding-bottom: 16px;
        margin: 0px;
        color: black;
    }

    .OurMenuContentOneTable {
        font-size: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .right {
        text-align: right;
        padding-left: 80px;
    }
    
    .OurMenuContentOneMiddle {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .OurMenuContentOneMiddle h3{
        font-size: 32px;
        padding-right: 24px;
        padding-bottom: 16px;
        margin: 0;
    }

    .OurMenuContentOneTableMiddle {
        font-size: 24px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .OurMenuContentOneMiddle h3 {
        font-size: 32px;
        padding-left: 24px;
        margin: 0px;
        color: black;
    }

    .OurMenuContentOneTableMiddle {
        font-size: 24px;
        padding-left: 24px;
    }

    .rightMiddle {
        text-align: right;
        padding-left: 80px;
    }

    /* MAPS SECTION */

    .sectionFindUsAt {
        padding-top: 96px;
    }
    
    .sectionFindUsAt h2 {
        margin: 0; 
        padding-bottom: 8px; 
        font-weight: bold; 
        font-size: 64px; 
        color: #9F0908
    }       

    .sectionFindUsAt h5 {
        margin: 0; 
        padding-bottom: 48px;
        font-weight:normal; 
        font-size: 20px;
    }

    .sectionFindUsAt h5 img {
        width: 20px;
        height: 20px;
    }

    /* SECTION FOOTER */

    .sectionFooter{
        padding-left: 24px;
        padding-right: 24px;
    }

}

@media (max-width: 767px) {

    /* SECTION STARTPAGE */

    .sakuraLogo {
        height: 40px;
        width: 40px; 
        padding-left: 16px
    }

    .menu {
        padding-right: 16px;
    }

    .phoneButton {
        font-size: 16px;
        padding: 6px;
    }

    .header {
        height: 64px;
    }

    .titleStartpage h1 {
        font-size: 44px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .titleStartpage h4 {
        font-size: 16px;
    }

    /* SECTION HOW TO ORDER */

    .sectionHowToOrder {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .sectionHowToOrder h2 {
        font-size: 40px;
    }

    .howToOrderContent {
        flex-direction: column;
        gap: 32px;
    }

    .howToOrderContentStats h5 {
        -top: 8px;
    }

    /* SECTION OUR MENU */

    .ourMenuContent {
        padding-top: 72px;
        padding-bottom: 72px;
        
    }

    .ourMenuContent h2 {
        font-size: 40px;
        padding-bottom: 40px;
    }

    .ourMenuContent img {
        width: 343px;
        height: 343px;
        justify-content: center;
    }

    .OurMenuContentOne {
        flex-direction: column;
        gap: 16px;
    }

    .OurMenuContentOne h3 {
        padding-bottom: 8px;
        font-size: 32px;
        padding-left: 0;
        padding-right: 0px
    }

    .OurMenuContentOneMobileRight {
        width: 100%;
    }

    .OurMenuContentOneTable {
        padding: 0;
    }
    
    .OurMenuContentOneTable td {
        width: 100% /* wenn Preise Rechts dann width=100% */
    }

    .OurMenuContentOneMiddle {
        flex-direction: column;
        gap: 16px;
        margin: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .OurMenuContentOneMiddle h3 {
        padding-bottom: 8px;
        font-size: 32px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .OurMenuContentOneTableMiddle {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .OurMenuContentOneTableMiddle td {
        width: 100% /* wenn Preise Rechts dann width=100% */
    }

    .OurMenuContentThree {
        gap: 24px;
    }

    .right {
        text-align: right;
        padding-left: 30px;
    }

    .rightMiddle {
        text-align: right;
        padding-left: 30px;
    }

    /* SECTION MAP */

    .sectionFindUsAt {
        padding-top: 72px;
    }

    .sectionFindUsAt h2 {
        font-size: 40px;
    }

    .sectionFindUsAt h5 {
        font-size: 16px;
        text-align: center;
        gap: 0;
        padding-left:  16px;
        padding-right: 16px;
    }

    /* SECTION FOOTER */

    .sectionFooter {
        padding-left: 16px;
        padding-right: 16px;
        height: 86px;
    }

    .SocialMediaIcons img {
        height: 32px;
        width: 32px;
    }

    .phoneFooter {
    display: flex
    }

    .ComputerTablet {
        display: none;
    }
}

@media(max-width: 375px) {
    .ourMenuContent img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    
}

@media(max-width: 325px){
    .sectionFindUsAt h5 {
        flex-direction: column;
}
}







    

